div.yourEvent p {
    text-transform: uppercase;
    color: #9caac4;
}

div.yourEvent p:nth-child(2) {
    margin-top: 20px;
}

div.yourEvent p:nth-child(3) {
    margin-top: 80px;
}

div.yourEvent p:nth-child(4) {
    margin-top: 35px;
}

div.yourEvent p:nth-child(5) {
    margin-top: 26px;
}

div.yourEvent p span {
    color: rgb(240, 108, 108);
}