button {
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: none;
    background-color: rgb(255, 152, 17);
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background-color: rgb(182, 112, 21);
}