h2.coordinator {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 205, 205);
    font-size: 1.5rem;
    color: #4267b2;
}

div.coordinator {
    display: flex;
    padding-top: 15px;

}

div.coordinator div:nth-child(2) {
    position: relative;
    flex-grow: 1;

}

div.coordinator div:nth-child(1) {
    flex-basis: 17%;
    padding-top: 5px;

}