input.fee {
    width: 50px;
    line-height: 15px;
    margin-left: 5px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid rgb(211, 205, 205);
    color: #9caac4;
}

input.fee::placeholder {
    color: rgb(211, 205, 205);
}

span.fee {
    margin-left: 5px;
    font-size: 1.2rem;
    color: #9caac4;
}

div.yourEvent div.messageEvent_fee {
    position: absolute;
    top: 75%;
    left: 72%;
    padding: 2px 5px;
    font-size: 8px;
    background-color: rgb(230, 129, 129);
    color: white;

}