div.yourEvent input.title {
    width: 70%;
    line-height: 25px;
    padding-left: 5px;
    color: #9caac4;
    border: 1px solid rgb(211, 205, 205);
    font-size: 12px;
}

div.yourEvent input.title::placeholder {
    color: rgb(211, 205, 205);
    font-size: 12px;


}

div.yourEvent div.message {
    position: absolute;
    top: 2%;
    left: 72%;
    padding: 2px 5px;
    font-size: 8px;
    background-color: rgb(230, 129, 129);
    color: white;

}